.news_title {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.news_logo {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.news_button {
	font-family: Impact, Charcoal, sans-serif;
}

.news_short_text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.news_author {
	font-family: cursive;
}

.news_comment_size { "Courier New", Courier, monospace
	
}