.news_title {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.news_logo {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.news_button {
	font-family: Impact, Charcoal, sans-serif;
}

.news_short_text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.news_author {
	font-family: cursive;
}

.news_comment_size {
	font-faminly: "Courier New", Courier, monospace
}

.news_current_body {
	width: 1000px;
	}

.news_current_title {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: xx-large;
}

.news_info_message {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-decoration: underline;
	color: red;
}

.news_current_date {
	text-decoration: underline;
}

.news_delete_comment_button{
	height:10px;
    width:10px;
}
.news_form_inline{
	margin-left: 35%;
}

#leftcol { 
  margin-left: 5%; 
  float: left; 
  width: 10%; 
}
#rightcol { 
  margin-left: 15%; 
  width : 80%;
  margin-right: 5%; 
  
}

#accord{
	width : 50%;
}

